body {
    background: #fff;
    text-align: center;
}
.cover {
    background: url(../images/bu-large.jpg) center center fixed;
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media (min-width: 500px){
    .cover {
        background: url(../images/bu-large.jpg) no-repeat center center fixed;
    }
    .jumbotron {
    padding: 220px 10px;
}

}

@media (max-width: 499px) {
    .jumbotron {
    padding: 120px 10px;
}

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 35px;
    font-family: "Ariel", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #8ED9FF;
}

a {
    color: #8ED9FF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: purple;
}

section {
    padding: 20px 0px 200px 0px;
}
nav {
    position: fixed;
    top: 0px;
    z-index: 1;
}

nav ul li a{
    color: #fff;
}

.card-content {
    color: #8ED9FF;
}

.card {
    z-index: 0;
}

.card-action a {
    color: #8ED9FF;
}

.subscribe:hover,
.subscribe:focus {
    text-decoration: none;
    color: purple;
}

.subscribe {
    color: #8ED9FF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}